[Unit]
Description=Story execution

[Service]
User={{ service_identifier }}
Group={{ service_identifier }}
WorkingDirectory={{ execution_data_dir }}
ExecStart={{ execution_bin_dir }}/{{ service_identifier }} --{{ storyprotocol.validator.execution.chain_id }} \
            --syncmode {{ storyprotocol.validator.execution.syncmode }} --datadir {{ execution_data_dir }} \
            --authrpc.jwtsecret {{ execution_jwtsecret_path }}
            --authrpc.port {{ storyprotocol.validator.execution.ports.auth_rpc_port }} \
            --port {{ storyprotocol.validator.execution.ports.p2p_port }}
Restart=always
RestartSec=4
LimitNOFILE=65536
StandardOutput=append:{{ execution_log_file_path }}
StandardError=inherit

[Install]
WantedBy=multi-user.target