[Unit]
Description=Storyconsensus

[Service]
User={{ service_identifier }}
Group={{ service_identifier }}
WorkingDirectory={{consensus_home_dir }}
ExecStart={{consensus_bin_dir }}/{{ service_identifier }} run --home {{ consensus_home_dir }} \
          --engine-jwt-file {{ consensus_jwtsecret_path }}
Restart=always
RestartSec=4
LimitNOFILE=65536
StandardOutput=append:{{consensus_log_file_path }}
StandardError=inherit

[Install]
WantedBy=multi-user.target