GETH_DATADIR={{ execution_data_dir }}
GETH_SYNCMODE={{ execution_syncmode }}
GETH_METRICS=true
GETH_METRICS_ADDR=::
GETH_HTTP=true
GETH_HTTP_PORT={{ execution_http_port }}
GETH_PORT={{ execution_p2p_port }}
GETH_DISCOVERY_PORT={{ execution_network_discovery_port }}
GETH_METRICS_PORT={{ execution_metrics_port }}
GETH_AUTHRPC_PORT={{ execution_auth_rpc_port }}
GETH_AUTHRPC_JWTSECRET={{ execution_jwt_secret_path }}