[Unit]
Description= {{ service_identifier }} layer client

[Service]
User={{ service_identifier }}
Group={{ service_identifier }}
EnvironmentFile={{ execution_env_dir }}/{{ service_identifier }}.env
WorkingDirectory={{ execution_data_dir }}
ExecStart={{ execution_bin_dir }}/{{ service_identifier }} --{{ execution_chain_id }}
Restart=always
RestartSec=4
LimitNOFILE=65536
MemoryLimit=64G
StandardOutput=append:{{ execution_log_file_path }}
StandardError=inherit

[Install]
WantedBy=multi-user.target